#header-row{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feccb1+0,fb955e+59 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ededed+90 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 90%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 90%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#ededed 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

  padding: 15px 0;
  #logo{
    width: 170px;
  }
}

#search-bar{
  padding-top: 5px;
  padding-bottom: 10px;
  .btn{
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 34px;
    margin: 0;
    outline: none;
    padding: 0 0;
    width: 60px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    .glyphicon-search{
      color: #fff;
    }
  }
}

#toptitle{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #EF6C0F;
  font-size: 20px;
  font-family: "Arial Black", Gadget, sans-serif;
  border-top: 1px rgba(171,211,238,1) solid;

}

.cat-heading{
  text-align: center;
  font-size: 14px;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  color: #fff !important;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#627d4d+0,1f3b08+100;Olive+3D */
  background: #627d4d; /* Old browsers */
  background: -moz-linear-gradient(top,  #627d4d 0%, #1f3b08 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #627d4d 0%,#1f3b08 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #627d4d 0%,#1f3b08 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 ); /* IE6-9 */

}

.top-category{
  .panel-body{
    padding: 0px;
    .image{
      height: 200px;
      text-align: center;
      position: relative;
      img{
        height: 100%;
        width: 100%;
      };
      .down{
        position: absolute;
        top: 2px;
        right: 2px;
        color: red;
        font-family: "Comic Sans MS", cursive, sans-serif;
        background-color: #fff;
        padding: 3px;
      }
    }
    .top-product{
      margin-top: 5px;
      border-bottom: 1px solid #333;
      .info{
        padding-bottom: 10px;
        padding-left: 10px;
        background: linear-gradient(to bottom,  #ffffff 0%,#ededed 90%);
        .main-title{
          text-align: center;
          height: 68px;
          overflow: hidden;
          text-overflow: ellipsis;  
        }
        .goto{
          text-align: center;
          border-top: 1px #ddd solid;
          margin-top: 5px;
          padding-top: 5px;
        }
        .price{
          font-size: 20px;
        }
        .price-was
        {
          text-decoration: line-through;
        }
      }
    }
  }
}

