.red{
  color: red;
}

.filter{
  margin-bottom: 5px;
  h4{
    color: #777;
  }
}

.filter-small{
  line-height: 25px;
  border-bottom: 1px solid #aaa;
  background-color: #f5f5f5;
  .show{
    padding-left: 30px;
  };
  h4{
    color: #777;
  }
}

.filter-label{
  display: block;
  margin-left: 35px;
  color: #777;
  font-weight: normal;
  input{
    float: left;
    margin-left: -20px;
    margin-right: 7px;
  }
}

.star{
  color: #EF6C0F;
}

.priceok{
  color: #aaa;
  font-size: 11px;
  margin-right: 5px;
}

.link{
  color: #428bca;
  &:hover{
    text-decoration: underline;
    color: #0D566E;
    cursor: pointer;
  }
}

.price{
  color: #EF6C0F;
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
}

.gray{
  color: #aaa;
}

.source{
  color: #aaa;
  margin-left: 8px;
}

.product-item{
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
  .product-image{
    text-align: center;
    height: 150px;
    img{
      width: auto;
      height: 100%;
    }
  }
}

#refinementsToggle{
  padding: 0 25px 0 10px;
  line-height: 35px;
  background: -webkit-linear-gradient(top,#fff,#d2d2d2);
  position: relative;
  display: block;
  text-decoration: none;
  font-family: Tahoma, Geneva, sans-serif;
}

#refinementsToggle span:after{
  display:block;
  content:"";
  height:10px;
  position:absolute;
  width:10px;
  top:11px;
  right:10px;
}

.main-image{
  text-align: center;
  vertical-align: middle;
  img{
    width: 80%;
    height: auto;
  }
}

// .product-item{
//   height: 170px;
// }

.product-inline{
  border: 1px solid #ccc;
  padding: 15px 15px 15px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  .cross{
    position: absolute;
    text-align: center;
    top:10px;
    right: 0px;
    color: #aaa;
    width: 35px;
    height: 35px;
    z-index: 100;
    &:hover{
      cursor: pointer;
      color: #333;
    }
  }
}
