@media screen and (min-width: 992px) {
  .product-info{
    padding-top: 10px;
  }

  .product-price{
    padding-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .product-modal{
    width: 100%;
    margin: 0px;
  };

  .today{
    padding-top: 240px;
    padding-left: 1px;
    padding-right: 1px;
    
  }
}

@media screen and (min-width: 768px) {
  .product-modal{
    width: 420px;
  }
  .today{
    padding-top: 240px;
  }
}

@media only screen and (max-width : 568px){
  .header-big{
      font-size: 40px !important; 
    }
}