@media screen and (min-width: 992px) {
  .product-info{
    padding-top: 10px;
  }

  .product-price{
    padding-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .product-modal{
    width: 100%;
    margin: 0px;
  };

  .today{
    padding-top: 240px;
    padding-left: 1px;
    padding-right: 1px;
    
  }
}

@media screen and (min-width: 768px) {
  .product-modal{
    width: 420px;
  }
  .today{
    padding-top: 240px;
  }
}

@media
  only screen and (max-device-width: 1136px) and (min-device-width: 960px) and (max-device-height: 640px) and (min-device-height: 560px),
  only screen and (max-device-height: 1136px) and (min-device-height: 960px) and (max-device-width: 640px) and (min-device-width: 560px) {
    .header-big{
      font-size: 40px;
    }
}